body {
  margin: 0;
  overflow: hidden;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #09011c;
  overflow: hidden;
}

.star {
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 5s, background-color 3s, transform 3s; /* Adjust the durations for the fading effect, color change, and growth */
}

.star.fading {
  opacity: 0;
  background-color: #00ddff; /* Change to blue as they fade out */
  transform: scale(3); /* Slightly grow the stars */
}