@font-face {
  font-family: SpaceMono;
  src: url(../fonts/SpaceMono-Regular.woff2);
}

/* General */
body {
  margin: 0;
  overflow: hidden;
}

/* Zero state */
article {
  position: absolute;
  z-index: 10;
  background-color: #1c4c64;
  color: rgb(198, 226, 242);
  display: grid;
  justify-items: center;
  height: 60vh;
  width: 50vw;
  margin-left: 25vw;
  margin-top: 20vh;

  border-radius: 40px;
  font-family: SpaceMono;
}

article img {
  margin-top: 20px;
  width: 200px;
}

article p {
  margin: 0px 100px;
}

article button {
  width: 80px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-family: SpaceMono;

  background-color: #09011c;
  color: white;
  border: 3px lightblue solid;
  cursor: pointer;
}

article button:hover {
  color: orange;
  border-color: orange;
}

/* Stars */
.stars {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #09011c;
  overflow: hidden;
}

.star {
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 5s, background-color 3s, transform 3s; 
}

.star.fading {
  opacity: 0;
  background-color: #00ddff; 
  transform: scale(3); 
}


/* Sun */
#sun {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  box-shadow: 0 0 64px rgb(255, 225, 0), inset 0 0 64px rgb(255, 140, 0);
  background-color: rgb(255, 225, 0);
  transition: background-color 142s, border 142s, box-shadow 142s, transform 142s;
}

#sun > p {
  color: orange;
  position: relative;
  top: -20%;
  left: -20%;
  display: none;
}

#sun:hover p {
  display: block;
}

#sun.fading {
  box-shadow: 0 0 100px rgb(255, 20, 0), inset 0 0 64px rgb(255, 0, 0);
  background-color: rgb(255, 20, 0);
  transform: scale(1.7);
}

/* Sun Station */
#station {
  position: absolute;
  top: 0;
  left: 50%;
  height: 10px;
  width: 10px;
  margin-left: -5px;
  margin-top: -5px;
  border-radius: 50%;
  background-color: rgb(67, 67, 50);
  box-shadow: inset 0 -4px 7px rgb(50, 0, 0);
}
#station-orbit {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
  
  border: 2px rgb(140 150 165 / 0.2) dashed;
  border-radius: 50%;
  -webkit-animation: spin-right 20s linear infinite;
  -moz-animation: spin-right 20s linear infinite;
  -ms-animation: spin-right 20s linear infinite;
  -o-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Hourglass Twins */
#twins-orbit {
  position: absolute;
  top: 0;
  left: 50%;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 50%;
  /* background-color: red; */
   -webkit-animation: spin-left 12s linear infinite;
  -moz-animation: spin-left 12s linear infinite;
  -ms-animation: spin-left 12s linear infinite;
  -o-animation: spin-left 12s linear infinite;
  animation: spin-left 12s linear infinite;
}

@keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

#ash {
  position: absolute;
  top: 0;
  left: 50%;
  height: 12px;
  width: 12px;
  margin-left: 3px;
  margin-top: 9px;
  border-radius: 50%;
  background-color: rgb(213, 155, 108);
  box-shadow: inset 0 -4px 7px rgb(213, 178, 149);
  transition: transform 60s;
}

.ash-end {
  /* position: absolute;
  top: 0;
  left: 50%;
  height: 10px;
  width: 10px; */
  transform: scale(0.833);
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: rgb(120, 108, 213);
  box-shadow: inset 0 -4px 7px rgb(213, 178, 149);
}

#ember {
 position: absolute;
  top: 0;
  left: 50%;
  height: 10px;
  width: 10px;
  margin-left: -15px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: rgb(121, 64, 17);
  box-shadow: inset 0 -4px 7px rgb(200, 120, 0);
  transition: transform 60s;
}

.ember-end {
 /* position: absolute;
  top: 0;
  left: 50%;
  height: 12px;
  width: 12px; */
  transform: scale(1.2);
  margin-left: -15px;
  margin-top: 9px;
  border-radius: 50%;
  background-color: rgb(121, 64, 17);
  box-shadow: inset 0 -4px 7px rgb(200, 120, 0);
}

#sand {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 14px;
  margin-left: -5px;
  width: 10px;
  height: 2px;
  background-color: sandybrown;

}

#hourglass-orbit {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  margin-top: -110px;
  margin-left: -110px;
  rotate: 80deg;
  
  border: 2px rgb(140 150 165 / 0.2) dashed;
  border-radius: 50%;
  -webkit-animation: spin-right 40s linear infinite;
  -moz-animation: spin-right 40s linear infinite;
  -ms-animation: spin-right 40s linear infinite;
  -o-animation: spin-right 40s linear infinite;
  animation: spin-right 40s linear infinite;
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Timber Hearth */
#timber {
  position: absolute;
  top: 0;
  left: 50%;
  height: 20px;
  width: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: rgb(0, 150, 0);
  box-shadow: inset 0 -4px 7px rgb(0, 256, 0);
}

#timber > p {
  color: green;
  position: relative;
  top: -20%;
  left: -20%;
  display: none;
}

#timber:hover p {
  display: block;
}

#timber-orbit {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 290px;
  height: 290px;
  margin-top: -145px;
  margin-left: -145px;
  rotate: 30deg;
  
  border: 2px rgb(140 150 165 / 0.2) dashed;
  border-radius: 50%;
  -webkit-animation: spin-right 60s linear infinite;
  -moz-animation: spin-right 60s linear infinite;
  -ms-animation: spin-right 60s linear infinite;
  -o-animation: spin-right 60s linear infinite;
  animation: spin-right 60s linear infinite;
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Brittle Hollow */
#brittle {
  position: absolute;
  top: 0;
  left: 50%;
  height: 20px;
  width: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: rgb(60, 0, 150);
  box-shadow: inset 0 -4px 7px rgb(150, 0, 256);
}
#brittle-orbit {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 330px;
  height: 330px;
  margin-top: -165px;
  margin-left: -165px;
  rotate: 120deg;
  
  border: 2px rgb(140 150 165 / 0.2) dashed;
  border-radius: 50%;
  -webkit-animation: spin-right 60s linear infinite;
  -moz-animation: spin-right 60s linear infinite;
  -ms-animation: spin-right 60s linear infinite;
  -o-animation: spin-right 60s linear infinite;
  animation: spin-right 60s linear infinite;
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Giant's Deep */
#giant {
  position: absolute;
  top: 0;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 50%;
  background-color: rgb(35, 144, 93);
  box-shadow: inset 0 -4px 7px rgb(0, 256, 256);
}
#giant-orbit {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 470px;
  height: 470px;
  margin-top: -235px;
  margin-left: -235px;
  
  border: 2px rgb(140 150 165 / 0.2) dashed;
  border-radius: 50%;
  -webkit-animation: spin-right 110s linear infinite;
  -moz-animation: spin-right 110s linear infinite;
  -ms-animation: spin-right 110s linear infinite;
  -o-animation: spin-right 110s linear infinite;
  animation: spin-right 110s linear infinite;
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Dark Bramble */
#bramble {
  position: absolute;
  top: 0;
  left: 50%;
  height: 40px;
  width: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  background-color: rgb(62, 31, 2);
  box-shadow: inset 0 -4px 7px rgb(0, 256, 256);
}
#bramble-orbit {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-top: -300px;
  margin-left: -300px;
  rotate: 260deg;
  
  border: 2px rgb(140 150 165 / 0.2) dashed;
  border-radius: 50%;
  -webkit-animation: spin-right 150s linear infinite;
  -moz-animation: spin-right 150s linear infinite;
  -ms-animation: spin-right 150s linear infinite;
  -o-animation: spin-right 150s linear infinite;
  animation: spin-right 150s linear infinite;
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Interloper */

#interloper {
  position: absolute;
  top: 50%;
  left: 0%;
  height: 40px;
  width: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  background-color: rgb(13, 202, 239);
  box-shadow: inset 0 -4px 7px rgb(0, 256, 256);

   -webkit-animation: orbit-right 10s linear infinite;
  -moz-animation: orbit-right 10s linear infinite;
  -ms-animation: orbit-right 10s linear infinite;
  -o-animation: orbit-right 10s linear infinite;
  animation: orbit-right 10s linear infinite;
}

@keyframes orbit-right {
  25% {
    -webkit-transform: translateY(-150px) translateX(300px);
    -moz-transform: translateY(-150px) translateX(300px);
    -ms-transform: translateY(-150px) translateX(300px);
    -o-transform: translateY(-150px) translateX(300px);
    transform: translateY(-150px) translateX(300px);
  }
  50% {
    -webkit-transform: translateY(0) translateX(600px);
    -moz-transform: translateY(0) translateX(600px);
    -ms-transform: translateY(0) translateX(600px);
    -o-transform: translateY(0) translateX(600px);
    transform: translateY(0) translateX(600px);
  }
  75% {
    -webkit-transform: translateY(150px) translateX(300px);
    -moz-transform: translateY(150px) translateX(300px);
    -ms-transform: translateY(150px) translateX(300px);
    -o-transform: translateY(150px) translateX(300px);
    transform: translateY(150px) translateX(300px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    -moz-transform: translateY(0) translateX(0);
    -ms-transform: translateY(0) translateX(0);
    -o-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}

#interloper-orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 300px;
  margin-top: -150px;
  margin-left: -500px;
  
  border: 2px rgb(140 150 165 / 0.2) dashed;
  border-radius: 50%;
  /* -webkit-animation: spin-right 150s linear infinite;
  -moz-animation: spin-right 150s linear infinite;
  -ms-animation: spin-right 150s linear infinite;
  -o-animation: spin-right 150s linear infinite;
  animation: spin-right 150s linear infinite; */
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.quantum-moon {
  background-color: lightgrey;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: -10px;
}